body{
 background-color:#511D43 !important;
}

.todolist-heading{
    margin-top:5rem;
    margin-bottom: 3rem;
}
ul{
    padding-left: 0 !important;
    width:40% !important;
    /* color:#940B92 !important; */
    font-weight: 500;
}

.task-input{
    border-radius:5px;
    width:25rem !important;
    padding: 0.8rem 0.5rem;
    outline: none;
    border: 0;
    color: #511D43;
    font-weight: 500;
    box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.9),
    inset 0 -1px 1px rgba(0, 0, 0, 0.15),
    0 0 10px 1px rgb(200 200 200 / 60%);
}
.add-task-btn{
    /* padding-top: 0.5rem;
    padding-bottom: 0.6rem; */
    color: #511D43 !important;
    font-weight: 500;
    border:none;
    background-color: #FCC6FF;
    color:white;
    padding:0.8rem 0.8rem;
    margin-left: 2px;;
    border-radius: 5px;
}
.done-input {
  width: 20px;
  height: 20px;
}

.todos-main-container{
    display: flex;
    border-radius: 5px;
    color: #511D43;
    box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.9),
    inset 0 -1px 1px rgba(0, 0, 0, 0.15),
    0 0 10px 1px rgb(200 200 200 / 60%);
    cursor: pointer;
}
.task-container{
    display: flex;
    justify-content:left;
    gap:1rem;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}
.task-container li{
  list-style: none;
}

input[type="checkbox"].form-check-input{
     outline: white !important;
     border-color:#511D43;
}
input[type="checkbox"].form-check-input:focus {
  box-shadow:none !important;
  outline: none;
}
input[type="checkbox"].form-check-input:checked {
  background-color:#82366d;
  border-color:#511D43;  
}
.add-task-btn:active {
  transform: scale(0.95) !important;
}
.delete-icon{
    color: #511D43 !important;
    /* font-size: 1.2rem; */
    font-weight: 900;
}
.delete-icon:active{  
  transform: scale(0.95); 
}


@media only screen and (max-width:1200px){
    ul{
        width:45% !important;
    }
    .task-input{
        width:20rem !important;
    }
}
@media only screen and (max-width:992px){
    ul{
        width: 55% !important;
    }
}

@media only screen and (max-width:768px){
    ul{
        width:60% !important;
    }
    .task-input{
        width:17rem !important;
    }
}
@media only screen and (max-width:528px){
    ul{
        width:80% !important;
    }
}

@media only screen and (max-width:400px){
    .task-input{
        width:15rem !important;
    }
}

@media only screen and (max-width:345px) {
    .add-task-btn{
        margin-top: 1rem;
        width: 90% !important;
    }
    .task-input{
        width: 90% !important;
    }
}